html {
    background-color: rgb(90, 201, 211);
}

html::after,
html::before {
    content: "";
    position: fixed;
    display: block;
    background-color: rgb(58, 113, 118);
    border-radius: 50%;
    width: 100vmin;
    height: 100vmin;
    z-index: -1;
}

html::before {
    top: -100px;
    left: -100px;
}

html::after {
    bottom: -100px;
    right: -100px;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    font-family: sans-serif;
}

.card-article {
    width: 300px;
    height: 350px;
    background-color: rgb(70, 56, 228);
    border-radius: 20px;
    overflow: hidden;
}

.card-header {
    background-image: url(../image/paisaje.jpg);
    height: 100px;
    position: relative;
}

.card-image {

    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%);
    border-radius: 50%;
    border: 3px solid whitesmoke;
    background-color: whitesmoke;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 135px;
    padding-top: 10px;
}

.card-text {
    margin: 0;
    line-height: .5;
    font-weight: bold;
}

.City {
    font-weight: bold;
    color:rgb(0, 0, 0)
}

.card-years {
    color: grey;
    font-weight: normal;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    border-top:  1px solid grey;
}

.card-stats {
    width: 100%;
    text-align: center;
}

.card-number {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 1.5;
}

.card-number__footer {
    color:rgb(148, 204, 177);
    
}
